@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&family=Ubuntu&display=swap');

.card {
  display: inline-block;
  margin: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardContainer {
  text-align: center;
}

.card-img-top {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}

.injection {
  width: 200px;
}

.card-title {
  font-weight: bolder;
  color: #0F3460;
  font-size: 50px;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  font-family: 'Nunito', sans-serif;
}

.footerText {
  color: white;
  padding: 5px;
}

.headerLogo,
.headerLogoChild {
  font-size: 100px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headerLogoChild {
  font-size: 50px;
}


.card-text {
  font-family: 'Ubuntu', sans-serif;
  color: #0F3460;
  font-weight: bold;

}